@media screen and (max-width: 768px) {
    section.main > main {
        flex-direction: column;
    }
    section.main > main .item {
        flex: 1;
    }
}
@media screen and (max-width: 660px) {
    header > nav > ul {
        flex-direction: column;
    }
    section.main > main .item .image {
        width: 150px;
        height: 150px;
    }
    section.main aside {
        display: none;
    }
}